---
import { getCollection } from 'astro:content';
import IndexLayout from '../../layouts/index-layout.astro';
import EntryCardComponent from '../../components/entry-card-component.astro';
import { toTitleCase } from '../../utils';
import Pagination from '../../components/common/pagination.astro';
import { collectionCategory } from '../../layouts/base-layout.astro';

export async function getStaticPaths({ paginate }) {
  const tools = await getCollection('tools');
  const sortedTools = tools.sort((a, b) => {
    const aTitle = a.data.title.toLowerCase();
    const bTitle = b.data.title.toLowerCase();
    if (aTitle < bTitle) return -1;
    if (bTitle < aTitle) return 1;
    return 0;
  });
  return paginate(sortedTools, { pageSize: 10 });
}
const { page } = Astro.props;
---

<IndexLayout
  pageDescription="Digital tools I have created"
  pageTitle="Tools"
  category={collectionCategory.TOOLS}
>
  <h1>Tools</h1>
  <p class="subheading">Digital tools I have created</p>
  <Pagination
    previousPage={page.url.prev}
    nextPage={page.url.next}
    currentPage={page.currentPage}
    pageCount={page.lastPage}
  />
  {
    page.data.map((tool) => (
      <EntryCardComponent
        href={'/tools/' + tool.slug}
        title={toTitleCase(tool.data.title)}
        date={tool.data.date}
        description={tool.data.description}
      />
    ))
  }
  <Pagination
    previousPage={page.url.prev}
    nextPage={page.url.next}
    currentPage={page.currentPage}
    pageCount={page.lastPage}
  />
</IndexLayout>

{/*<div>{toTitleCase(recipe.data.title)}</div>*/}
