---
import Footer from '../components/common/footer-component.astro';
import Header from '../components/common/header-component.astro';

export enum collectionCategory {
  ABOUT = 'about',
  CONCEPTS = 'concepts',
  INDEX = 'index',
  RECIPES = 'recipes',
  NOTES = 'notes',
  SEARCH = 'search',
  TOOLS = 'tools',
  NOT_FOUND = 'notFound',
  DRAFTS = 'drafts',
}
export interface Props {
  pageTitle: string;
  pageDescription: string;
  category: collectionCategory;
}

const { pageTitle, pageDescription, category } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="/favicon.ico"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <meta
      name="description"
      content={pageDescription}
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/styles/reset.css"
    />
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;600&family=Rubik:wght@600&display=swap"
      rel="stylesheet"
    />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header category={category} />
    <main>
      <slot />
    </main>
    <Footer category={category} />
  </body>
</html>

<style is:global>
  :root {
    --text-on-light: #191512;
    --text-on-dark: #fef9ed;
    --accent-red: #f16b4d;
    --accent-blue: #4b83f9;
    --accent-yellow: #faca52;
    --border-on-light: var(--text-on-light);
  }
  html {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
  }
  body {
    background-color: #faca52;
    max-width: 1200px;
    width: 90vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: auto;
    padding-bottom: 2rem;
    color: var(--text-on-light);
  }
  @media screen and (min-width: 770px) {
    body {
      width: 80vw;
    }
  }
  main {
    position: relative;
    background-color: #fef9ed;
    border: 3px solid var(--border-on-light);
    outline-offset: 0.5rem;
    border-radius: 2px;
    margin: 0 0 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      inset: 0px;
      background: conic-gradient(
        from 0deg at 50% 50%,
        #4b83f9,
        #4b83f9,
        #4b83f9,
        #4770e2,
        #435dcb,
        #3d4ab4,
        #37389d,
        #302787,
        #281471,
        #1f005c
      );
      transform: translate3d(10px, 10px, -1px);
      pointer-events: none;
      transition-timing-function: cubic-bezier();
      transition-duration: 0.1s;
    }
    &:has(div:active)::after {
      transform: translate3d(9px, 9px, -1px);
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .heading {
    font-family: 'Rubik';
  }
  .sub-heading {
    font-family: 'Rubik';
    font-size: 1.3rem;
  }
  a {
    color: var(--accent-blue);
    font-weight: 800;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
  table {
    border-collapse: collapse;
    margin-bottom: 2rem;
  }

  td {
    border: 1px solid var(--accent-red);
    padding: 0.25rem;
  }
</style>
